div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
      body {
        background-color: red;
      overscroll-behavior: contain;
 }
      h1{
        font-size: 45px;
      }
      h1{
        background-color: white;
        border-radius: 25px;
        border: 13px solid skyblue;
        width: fit-content;
        }
        /* setting rules for one specific id */
        #title{
        height: 100px;
        line-height: 100px;
        color: purple;
        }
        /* setting rules for a group of elements that have a class name*/
        .sectionHead{
        color: rgb(0, 127, 136);
        margin: 10px 20%
        }