
body{
    background-color: #f5f5f5;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(223, 9, 9, 0.16);
    width: 460px;
    height: 680px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
   
}
h1{
    margin: 12px 0;
}
.add-elements{
    margin: 12px 0;
    
}
input{
    padding: 6px 4px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #02aefe;
    border: none;
    border-radius: 4px;
    color: #a51515;

}
.element-list{
    height: 500px;
    overflow-y: scroll
}
ul{
    padding: 15px;
   
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: rgb(211, 198, 198);
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
}
button:hover{
    background-color: #0d72f6;
}

li:hover{
    background-color: #f10606;
}

.checked{
    text-decoration: line-through;
    background-color: #ca0b0b;
}