
body {
  
        background-color: rgb(252, 216, 255);}
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
            h1,h2,p {
                color: blue; 
            }
       
       
html {
    display: grid;
    justify-content: center;
}

            
    